* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --light-red: hsl(0, 100%, 67%);
  --light-red-transparent: hsl(0, 100%, 67%, 10%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-transparent: hsl(39, 100%, 56%, 10%);
  --green-teal: hsl(166, 100%, 37%);
  --green-teal-transparent: hsl(166, 100%, 37%, 10%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-transparent: hsl(234, 85%, 45%, 10%);

  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);

  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --hanken: "Hanken Grotesk", serif;
  --text-feature: 700 5em/150% var(--hanken);
  --text-lg: 700 2em/150% var(--hanken);
  --text-md: 400 1.8em/150% var(--hanken);
  --text: 700 1.5em/ 150% var(--hanken);
  --text-sm: 500 1.3em/150% var(--hanken);
  --text-footer: 400 1.1em/150% var(--hanken);
}