body {
  background-color: var(--pale-blue);
  display: grid;
  grid-gap: 5px;
  height: 100vh;
  justify-content: center;
}

#content {
  max-width: 375px;
  display: grid;
  background-color: var(--white);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: width .5s, height .5s;
  transition-timing-function: ease;
}

.result-content {
  justify-items: center;
  background-color: var(--light-royal-blue-background);
  color: var(--white);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
}

h1 {
  font: var(--text-lg);
  padding-bottom: 5px;
  opacity: .9;
}

h2,
.summary-btn {
  font: var(--text);
}

.result-title {
  opacity: .5;
}

.result-feature {
  display: grid;
  justify-items: center;
  margin-block: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background:
  linear-gradient(to bottom, 
  var(--violet-blue-circle),
  var(--light-royal-blue-background));
}

.result-feature span:nth-child(1){
  font: var(--text-feature);
  align-self: end;
}

.result-feature span:nth-child(2){
  font: var(--text);
  align-self: start;
  opacity: .4;
}

p {
  padding-inline: 20px;
  text-align: center;
  font: var(--text-sm);
  opacity: .5;
}

.summary-content {
  display: grid;
  padding: 30px;
  grid-gap: 20px;
}

.summaries {
  display: grid;
  grid-gap: 10px;
}

.totals {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font: var(--text-sm);
}

.reaction {
  background-color: var(--light-red-transparent);
}

.memory {
  background-color: var(--orangey-yellow-transparent);
}

.verbal {
  background-color: var(--green-teal-transparent);
}

.visual {
  background-color: var(--cobalt-blue-transparent);
}

.total {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  font-weight: 700;
}

.total > img {
  align-self: center;
}

.total-reaction {
  color: var(--light-red);
}

.total-memory {
  color: var(--orangey-yellow);
}

.total-verbal {
  color: var(--green-teal);
}

.total-visual {
  color: var(--cobalt-blue);
}

.total-percent span {
  opacity: .5;
}

.summary-btn {
  background-color: var(--dark-gray-blue);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  align-self: center;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.summary-btn:hover {
  background-color: var(--light-royal-blue-background);
}

.attribution {
  font: var(--text-footer);
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 700;
}

.attribution a:hover {
  text-decoration: underline;
  color: var(--cobalt-blue);
}

@media screen and (min-width: 1023px) {
  body {
    align-content: center;
  }

  #content {
    grid-template-areas: 
    "result summary";
    border-radius: 25px;
    max-width: 50vw;
    grid-template-columns: repeat(2, minmax(256px, 512px));
  }

  h2 {
    font-size: 2em;
  }

  .result-content {
    grid-area: result;
    display: grid;
    grid-gap: 5px;
    border-radius: 25px;
    align-content: center;
  }

  .result-feature {
    width: 140px;
    height: 140px;
  }

  .summary-content {
    grid-area: summary;
    grid-gap: 10px;
  }

  .attribution {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1439px) {
  #content {
    max-width: 75vw;
    grid-template-columns: repeat(2, 512px);
  }

  .result-content,
  .summary-content {
    padding: 40px;
  }

  .result-feature {
    width: 220px;
    height: 220px;
  }

  .result-feature span:nth-child(1){
    font-size: 8em;
  }
  
  .result-feature span:nth-child(2){
    font-size: 2em;
  }

  h1 {
    font-size: 3em;
  }

  h2,
  .summary-btn {
    font-size: 2.5em;
  }

  p {
    font-size: 2.4em;
    padding: 25px 40px;
  }

  .summaries {
    grid-gap: 30px;
  }

  .totals,
  .attribution {
    font-size: 2em;
  }
}