body {
  background-color: var(--pale-blue);
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#content {
  width: 300px;
  display: grid;
  background-color: white;
  grid-gap: 20px;
}

.result-content {
  justify-items: center;
  background-color: var(--cobalt-blue);
  color: var(--white);
}

h1 {
  font: var(--text-result);
}

h2,
.summary-btn {
  font: var(--text-title);
}

.result-feature span:nth-child(1){
  font: var(--text-ft);
}

.result-feature span:nth-child(2){
  font: var(--text-parag);
}

p {
  font: var(--text-parag)
}

.total {
  font: var(--text);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}